@media (max-width:920px) {
    .mx-md-0 {
        margin: auto 0px !important;
    }

    .process-row-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .hero-container {
        padding: 50px 0px;
    }

    .container-py {
        padding: 40px 0px;
    }

    .offerContent,
    .text-coral {
        padding: 0px 15px;
    }

    .apply-btn,
    .enrollbtn,
    .tab-btn {
        padding: 10px 20px;
    }

    .admissionBadge {
        padding: 10px 40px;
    }

    .footerRight {
        padding-top: 20px;
    }

    .career-card .card-body {
        padding: 15px;
    }

    .tab-toggle {
        padding: 10px;
    }

    .formBody,
    .formHead {
        padding: 30px;
    }

    .mainHead,
    .offerHead h3,
    .beginJourney {
        font-size: 38px;
        line-height: 52px;
    }

    .headline,
    .opportunityHead,
    .programSubHead,
    .careerPathway,
    .journey-head h4 {
        font-size: 34px;
    }

    .formHead h3,
    .offerCard>div:nth-child(2) h4,
    .offerCard>div:nth-child(3) h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .eligibilitySub {
        font-size: 18px;
        line-height: 23px;
    }

    .enrollbtn,
    .careerPathwaysHead p,
    .beginJourneyPara {
        font-size: 16px;
        line-height: 22px;
    }

    .text-coral,
    .offerInnerContent p {
        font-size: 14px;
    }

    .careerSubHead {
        font-size: 12px;
    }

    .logo,
    .footerLeft img {
        max-width: 200px;
    }

    .form,
    .footerLeft p,
    .contactInfo,
    .footerRight,
    .journeyCard {
        max-width: 100% !important;
        width: 100% !important;
    }


    .form-svg {
        right: 0px;
    }

    .heroContent {
        gap: 10px;
    }

    .offerContent,
    .ourDifferenceMain {
        gap: 15px
    }

    .offerMain,
    .offerCard {
        gap: 20px;
    }

    .mainfooter,
    .opportunityGap {
        gap: 35px
    }

    .gap-md-30 {
        gap: 30px;
    }

    .mainPara {
        max-width: 100%;
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        padding: 0px 5px;
    }

    .eligiblity-bg {
        border-radius: 0px;
        height: 100%;
        width: 100%;
    }

    .leftContent {
        padding: 75px 20px;
    }
}

@media (max-width:768px) {
    .top-sm-0 {
        top: 0px;
    }
}

@media (max-width:546px) {
    .process-row-container {
        padding-top: 20px;
        gap: 30px;
    }

    .iconCircle {
        width: 50px;
        height: 50px;
        padding: 0 14px;
        top: -25px;
    }
}

@media (min-width:1064px) {
    .maxW-md-850px {
        width: 850px !important;
        z-index: 1;
    }
}